.App {
  text-align: center;
}
.myForm {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
}
/* .input-form {
  width: 400px;
  height: 40px;
  margin: 10px 10px;
  padding: 0px;
  text-align: center;
} */
